/node_modules
/public/css
/public/js
/public/static
/public/fonts
/public/images
/public/plugins
/public/themes
/public/vendor
/public/storage
/public/mix-manifest.json

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
.docker
.documents
